In [46]:
a = {2,4,6,8,10} # even numbers
b = {3,8,11,12} #
c = {2,3,6,8,9,11}
u = set(range(1,13)) # positive integers

In [47]:
type(u)

set

In [48]:
ans_1 = a.union(b)
print(ans_1)

{2, 3, 4, 6, 8, 10, 11, 12}

In [49]:
ans_2= a.intersection(c)
print(ans_2)

{8, 2, 6}

In [50]:
ans_3= u-a
print(ans_3)

{1, 3, 5, 7, 9, 11, 12}

In [51]:
ans_4 = u-b
print(ans_4)

{1, 2, 4, 5, 6, 7, 9, 10}

In [52]:
ans_5= u- ans_1
print(ans_5)

{1, 5, 9, 7}

In [53]:
ans_6= b & (u-c)
print(ans_6)

{12}

In [54]:
ans_7= a- b
print(ans_7)

{2, 10, 4, 6}

In [55]:

ans_8= c-(b-a)
print(ans_8)

{8, 9, 2, 6}

In [56]:
ans_9 = ans_2.union(c-b)
print(ans_9)

{2, 6, 8, 9}

#### inclusion and exclusion principle

In [57]:
left_hand_eq = a.union(b).union(c)
print(left_hand_eq)

{2, 3, 4, 6, 8, 9, 10, 11, 12}

In [58]:
right_hand_eq= a.union(b).union(c).difference(a & b).difference(a & c).difference(b & c).union(a & b & c)

print(right_hand_eq)

{4, 8, 9, 10, 12}

In [59]:
right_hand_eq = ((a | b | c)- ((a & b) | (a & c) | (b & c)) | (a & b & c))

print(right_hand_eq)

{4, 8, 9, 10, 12}

##### set operstions

In [60]:
Nina = {"Cat", "Dog", "Rabbit", "Donkey", "Parrot", "Goldfish"}
Mary = {"Dog", "Chinchilla", "Horse", "Chicken"}
Eve = {"Rabbit", "Turtle", "Goldfish"}

In [61]:
Eve.remove("Turtle")
print(Eve)

{'Rabbit', 'Goldfish'}

In [63]:
Nina.update(Mary)
print(Nina)

{'Rabbit', 'Chinchilla', 'Dog', 'Chicken', 'Horse', 'Goldfish', 'Donkey', 'Cat', 'Parrot'}

In [65]:
Mary.clear()
print(Mary)

set()

In [67]:
n_species_Nina=len(Nina)
print(n_species_Nina)

9

In [69]:
Nina.difference_update(Nina&Eve)
print(Nina)

{'Chinchilla', 'Dog', 'Chicken', 'Horse', 'Donkey', 'Cat', 'Parrot'}

#### writing down elements in a set

In [ ]:
#set a all same direction
a ={('L', 'L', 'L'), ('S', 'S', 'S'), ('R', 'R', 'R')}
print(a)

{('R', 'R', 'R'), ('L', 'L', 'L'), ('S', 'S', 'S')}

In [74]:
#set b - all diffent
b = {('L', 'S', 'R'), ('L', 'R', 'S'), ('S', 'L', 'R'),('S', 'R', 'L'), ('R', 'L', 'S'), ('R', 'S', 'L')}
print(b)

{('S', 'L', 'R'), ('L', 'S', 'R'), ('L', 'R', 'S'), ('S', 'R', 'L'), ('R', 'S', 'L'), ('R', 'L', 'S')}

In [76]:
#set c- exactly 2 right
c= {('R', 'R', 'L'), ('R', 'R', 'S'), ('R', 'L', 'R'),('S', 'R', 'R'), ('L', 'R', 'R'), ('R', 'S', 'R')}
print(c)

{('R', 'L', 'R'), ('R', 'S', 'R'), ('R', 'R', 'L'), ('S', 'R', 'R'), ('L', 'R', 'R'), ('R', 'R', 'S')}

In [ ]:
d= {
    ('L', 'L', 'S'), ('L', 'S', 'L'), ('S', 'L', 'L'),
    ('L', 'L', 'R'), ('L', 'R', 'L'), ('R', 'L', 'L'),

    ('S', 'S', 'L'), ('S', 'L', 'S'), ('L', 'S', 'S'),
    ('S', 'S', 'R'), ('S', 'R', 'S'), ('R', 'S', 'S'),

    ('R', 'R', 'L'), ('R', 'L', 'R'), ('L', 'R', 'R'),
    ('R', 'R', 'S'), ('R', 'S', 'R'), ('S', 'R', 'R')
}
print(d)

{('R', 'L', 'R'), ('S', 'S', 'L'), ('L', 'S', 'S'), ('L', 'R', 'L'), ('L', 'L', 'R'), ('S', 'R', 'R'), ('R', 'S', 'S'), ('L', 'S', 'L'), ('R', 'R', 'S'), ('S', 'S', 'R'), ('R', 'S', 'R'), ('L', 'L', 'S'), ('R', 'L', 'L'), ('L', 'R', 'R'), ('S', 'L', 'S'), ('S', 'R', 'S'), ('R', 'R', 'L'), ('S', 'L', 'L')}

In [82]:
import pandas as pd
europe = pd.read_excel(r'C:\Users\HP\python lux\Europe_and_EU.xlsx', sheet_name= 'Europe')
eu = pd.read_excel(r'C:\Users\HP\python lux\Europe_and_EU.xlsx', sheet_name = 'EU')

In [83]:
europe.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [85]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate